body{
    background-color: black;
}

.login_container{
    background-color: #FFF;
    width: 500px;
    margin: 0 auto;
    margin-top: 110px;
}

.exit_icon{
    margin: 13px 469px;
    margin-bottom: -20px;
}

h2{
    display: flex;
    margin-left: 172px;
    gap: 12px;
    margin-top: 52px;
}

.login{
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
}

.I{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 250;
    line-height: 16px;
}

.register{
    color: #46A358;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
}

.register_text{
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-left: 100px;
    margin-top: 40px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 115px;
    padding-left: 15px;
    margin-top: 14px;
}

input[type="text"],
input[type="password"]{
    color: #A5A5A5;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.password{
    display: flex;
    flex-direction: row;
}

.eye{
    position: absolute;
    margin-top: 27px;
    margin-left: 275px; 
}

button{
    border-radius: 5px;
    background: #46A358;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 15px 118px;
    margin-top: 40px;
}

.register_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 108px;
    margin-top: 35px;
    gap: 7px;
}

.register_with{
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.line{
    width: 95px;
    height: 1px;
    background: #EAEAEA;
}

.social_media_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_media{
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    margin-top: 15px;   
    display: flex;
    align-items: center;
    gap: 5px;
}

.social_media_description{
    color: #727272;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.social_media_facebook{
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 75px;
    padding-right: 59px;   
}

.social_media_google{
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 80px;
    padding-right: 65px;   
}

.line_{
    height: 10px;
    background: #46A358;
    margin-top: 40px;
}

