*{
    font-family: 'CeraPro', sans-serif;
}

section{
    padding: 171px 105px 82px 135px;
    display: flex;
}

.categories{
    max-width: 310px;
    max-height: 774px;
    min-width: 310px;
    min-height: 774px;
    background-color: #FBFBFB;
    padding: 14px 0 0 18px;
}

.title{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.category-list{
    padding: 7px 0 0 12px;
}

.category-item{
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}

.category-item.active{
    color: #46A358;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
}

.super-sale-banner{
    margin-left: -29px;
}

.content{
    margin-left: 50px;
} 

.navigation{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.navigation-list{
    display: flex;
    gap: 38px;
}

.navigation-list-item{
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.navigation-list-item.active{
    color: #46A358;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    border-bottom: 2px solid #46A358;
}

.sorting{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.default{
    display: flex;
    align-items: center;
    gap: 5px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 33px 70px;
}

.product-item{
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
}

.product-img{
    margin-bottom: 12px;
}

.product-name{
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 8px;
}

.product-price{
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.pages{
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}

.page-count{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 9px 12px;
}

.page-count.next{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 9px;
}

.page-count.active{
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #46A358;
    background-color: #46A358;
    padding: 10px 13px 9px 14px;
}