*{
    font-family: 'CeraPro', sans-serif;
}

.container{
    padding: 30px 120px 52px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}

.list{
    display: flex;
    gap: 50px;
}

.list-item{
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 0 25px;
}

.list-item.active{
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 0 25px;
    font-weight: 700;
    border-bottom: 3px solid #46A358;
}

.login-btn{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    background: #46A358;
    padding: 8px 17px;
    display: flex;
    align-items: center;
    gap: 4px;
}

section.info{
    display: flex;
    background-color: #F5F5F580;
}

.main-info{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 68px 40px;
}

.title{
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

h1{
    color: #3D3D3D;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    width: 72%;
    margin-top: 7px;
}

.planet{
    color: #46A358;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase; 
}

.description{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 54%;
    margin-top: 5px;
}

.shop-btn{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    background: #46A358;
    padding: 10px 26px;
    margin-top: 55px;
}

.img-container {
    position: relative;
}

.little{
    position: absolute;
    top: 300px;
    left: 54px;
}

section.category{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.categories{
    max-width: 310px;
    max-height: 774px;
    min-width: 310px;
    min-height: 774px;
    background-color: #FBFBFB;
    padding: 14px 0 0 18px;
}

.title-cat{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.category-list{
    padding: 7px 0 0 12px;
}

.category-item{
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}

.category-item.active{
    color: #46A358;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
}

.super-sale-banner{
    margin-left: -29px;
}

.content{
    margin-left: 30px;
}

.navigation{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.navigation-list{
    display: flex;
    gap: 38px;
}

.navigation-list-item{
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.navigation-list-item.active{
    color: #46A358;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    border-bottom: 2px solid #46A358;
}

.sorting{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.default{
    display: flex;
    align-items: center;
    gap: 5px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px 98px;
    padding-top: 38px;
}

.product-item{
    display: flex;
    flex-direction: column;
}

.product-img.plant1{
    background-color: #FBFBFB;
    padding: 31px 4px 19px;
}

.product-img.plant2{
    background-color: #FBFBFB;
    padding: 25px 4px;
}

.product-img.plant3{
    background-color: #FBFBFB;
    padding: 24px 4px 26px;
}

.product-img.plant4{
    background-color: #FBFBFB;
    padding: 6px 13px 8px 21px;
}

.product-img.plant5{
    background-color: #FBFBFB;
    padding: 23px 4px 27px;
}

.product-img.plant7{
    background-color: #FBFBFB;
    padding: 18px 4px 32px;
}

.product-img.plant8{
    background-color: #FBFBFB;
    padding: 28px 4px 22px;
}

.product-img.plant9{
    background-color: #FBFBFB;
    padding: 19px 4px 31px;
}

.product-name{
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
}

.product-price{
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.pages{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 90px;
}

.page-count{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 9px 12px;
}

.page-count.next{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 9px;
}

.page-count.active{
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #46A358;
    background-color: #46A358;
    padding: 10px 13px 9px 14px;
}

section.about-posts{
    display: flex;
    flex-direction: column;
    margin-top: 146px;
}

.card-container{
    display: flex;
    gap: 28px;
}

.card{
    display: flex;
    flex-grow: 1;
    background-color: #FBFBFB;
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 37px 30px 46px 0;
}

.card-img{
    margin-top: -45px;
}

.card-img.first{
    margin-top: -52px;
 }

.card-title{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    width: 30%;
    text-align: right;
}

.card-description{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 9px;
    margin-bottom: 25px;
    width: 57%;
    text-align: right;
}

.card-button{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    background-color: #46A358;
    display: flex;
    align-items: center;
    padding: 11px 27px 9px 28px;
    gap: 2px;
}

.blog{
    margin-top: 138px;
}

.blog-title{
    color: #3D3D3D;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;   
}

.blog-description{
    color: #727272;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.posts-container{
    display: flex;          
    justify-content: space-between;
}

.posts-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FBFBFB;
    max-width: 268px;
    min-width: 268px;
}

.posts-time{
    color: #46A358;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 9px 0 0 13px;
}

.posts-title{
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    padding-left: 13px;
    width: 81%;
}

.posts-description{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 13px;
    width: 88%;
}

.posts-button{
    display: flex;
    align-items: center;
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; 
    padding: 9px 0 13px 13px;   
}

.posts-button.active{
    display: flex;
    align-items: center;
    color: #46A358;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

