*{
    font-family: 'CeraPro', sans-serif;
}

.container{
    padding: 25px 120px 13px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}

.list{
    display: flex;
    gap: 50px;
}

.list-item{
    position: relative;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}

.list-item:hover{
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 3px solid #46A358;
}

.dropdown-menu{
    position: absolute;
	display: none;
    top: 105%;       
    left: -60%; 
    flex-direction: column;
    padding-top: 12px;
    
}

.dropdown-menu-item{
    color: #3D3D3D;
    background: #EDF6EE;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 0 8px 14px;
}

.dropdown-menu-item.next{
    display: flex;
    align-items: baseline;
    gap: 88px;
    position: relative;  
}

.drop-list-arrow{
    margin-right: 17px;
}

.list-item:hover .dropdown-menu{
    display: flex;
}

.dropdown-menu-second{
    position: absolute;
    display: none;
    flex-direction: column;
    top: -300%;       
    left: 100%;
    z-index: 1;
    padding-left: 2px;
}

.dropdown-menu-item-second{
    color: #3D3D3D;
    background: #EDF6EE;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 0 8px 14px;
    width: 200%;
}

.dropdown-menu-item.next:hover .dropdown-menu-second{
    display: flex;
}

.dropdown-menu-item.next:hover{
    background: #1A712A;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.dropdown-menu-item.next:hover .drop-list-arrow {
    transform: rotate(180deg);
    filter: brightness(0) invert(1);
}

.login-btn{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    background: #46A358;
    padding: 8px 17px;
    display: flex;
    align-items: center;
    gap: 4px;
}

section.info{
    display: flex;
    background-color: #F5F5F580;
}

.main-info{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 68px 40px;
}

.title{
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

h1{
    color: #3D3D3D;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    width: 72%;
    margin-top: 7px;
}

.planet{
    color: #46A358;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase; 
}

.description{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 54%;
    margin-top: 5px;
}

.shop-btn{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    background: #46A358;
    padding: 10px 26px;
    margin-top: 55px;
}

.img-container {
    position: relative;
}

.little{
    position: absolute;
    top: 300px;
    left: 54px;
}

section.category{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.categories{
    background-color: #FBFBFB;
    padding: 14px 0 0 18px;
}

.title-cat{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.category-list{
    padding: 7px 0 377px 12px;
}

.category-item{
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}

.category-item.active{
    color: #46A358;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
}

.super-sale-banner{
    background-color: #FBFBFB
}

.content{
    margin-left: 50px;
}

.navigation{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.navigation-list{
    display: flex;
    gap: 38px;
}

.navigation-list-item{
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.navigation-list-item.active{
    color: #46A358;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    border-bottom: 2px solid #46A358;
}

.sorting{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.default{
    display: flex;
    align-items: center;
    gap: 5px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;
    padding-top: 24px;
}

.product-item{
    display: flex;
    flex-direction: column;
}

.product-img-container{
    position: relative;
}

.icons-container{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: none;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 7px;
    gap: 14px;
}

.icon{
    background-color: #FFF;
    padding: 8px 6px 7px;
}

.icon.plant{
    background-color: #FFF;
    padding: 4px 6px 4px;
}

.discount{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: none;
    margin-top: 24px;
}

.discount-count{
    background-color: #46A358;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;   
    padding: 7px 8px 6px 9px;
}

.product-item:hover .icons-container{
    display: flex;
    border-top: 1px solid #46A358;
}

.product-item:hover .discount{ 
    display: block; 
}

.product-img.plant1{
    background-color: #FBFBFB;
    padding: 31px 4px 19px;
}

.product-img.plant2{
    background-color: #FBFBFB;
    padding: 25px 4px;
}

.product-img.plant3{
    background-color: #FBFBFB;
    padding: 24px 4px 26px;
}

.product-img.plant4{
    background-color: #FBFBFB;
    padding: 6px 13px 8px 21px;
}

.product-img.plant5{
    background-color: #FBFBFB;
    padding: 23px 4px 27px;
}

.product-img.plant7{
    background-color: #FBFBFB;
    padding: 18px 4px 32px;
}

.product-img.plant8{
    background-color: #FBFBFB;
    padding: 28px 4px 22px;
}

.product-img.plant9{
    background-color: #FBFBFB;
    padding: 19px 4px 31px;
}

.product-name{
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
}

.product-price{
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    display: flex;
    gap: 16px;
}

.product-discount{
    color: #A5A5A5;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: line-through;   
}

.pages{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 90px;
}

.page-count{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 9px 12px;
}

.page-count.next{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 9px;
}

.page-count.active{
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #46A358;
    background-color: #46A358;
    padding: 10px 13px 9px 14px;
}

section.about-posts{
    margin-top: 146px;
}

.card-container{
    display: flex;
    gap: 28px;
}

.card{
    display: flex;
    flex-grow: 1;
    background-color: #FBFBFB;
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 37px 0 46px 30px;
}

.card-img{
    margin-top: -45px;
}

.card-img.first{
    margin-top: -52px;
 }

.card-title{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    width: 30%;
    text-align: right;
}

.card-description{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 9px;
    margin-bottom: 25px;
    width: 57%;
    text-align: right;
}

.card-button{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    background-color: #46A358;
    display: flex;
    align-items: center;
    padding: 11px 27px 9px 28px;
    gap: 2px;
}

.blog{
    margin-top: 138px;
}

.blog-title{
    color: #3D3D3D;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;   
}

.blog-description{
    color: #727272;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.posts-container{
    display: flex;          
    justify-content: space-between;
}

.posts-card{
    display: flex;
    flex-direction: column;
    max-width: 268px;
    background-color: #FBFBFB;
}

.posts-img{
    width: 268px;
}

.posts-text.blog1{
    padding: 9px 11px 12px 15px;
}

.posts-text.blog2{
    padding: 9px 13px 12px;
}

.posts-text.blog4{
    padding: 9px 12px 12px 14px;
}

.posts-time{
    color: #46A358;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.posts-title{
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    width: 84%;
}

.posts-title.blog1{
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    width: 76%;
}

.posts-title.blog3{
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    width: 70%;
}

.posts-description{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 92%;
}

.posts-button{
    display: flex;
    align-items: center;
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 9px; 
}

.posts-button.active{
    display: flex;
    align-items: center;
    color: #46A358;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.find-us{
    margin-top: 100px;
}

.about-us{
    display: flex;
    padding: 24px 25px;
    gap: 60px;
    background-color: #FBFBFB;
}

.about-us-cards{
    display: flex;
    align-items: baseline;
    gap: 30px;
}

.about-us-card{
    display: flex;
    flex-direction: column;
}

.about-us-card.second{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(70, 163, 88, 0.10);
    border-top: none;
    border-bottom: none;
    padding: 0 30px;
}

.about-us-img{
    width: 77px; 
}

.about-us-title{
    color: #3D3D3D;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 15px;
    margin-bottom: 9px;
}

.about-us-description{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 90%;
}

.newsletter-title{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.newsletter-description{
    color: #727272;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

form{
    display: flex;
    align-items: baseline;
}

input{
    border-radius: 6px 0px 0px 6px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    padding: 14px 86px 11px 11px;
    margin-top: 25px;
    margin-bottom: 18px;
}

input[type="email"]{
    color: #ACACAC;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.join-button{
    background-color: #46A358;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    padding: 12px 25px 12px 26px;
    border-radius: 0px 6px 6px 0px;
}

.adress{
    display: flex;
    padding: 27px 23px;
    justify-content: center;
    background: -webkit-linear-gradient(40deg, #EDF6EF 0%, #52C368 100%);
    background: -moz-linear-gradient(40deg, #EDF6EF 0%, #52C368 100%);
    background: linear-gradient(40deg, #EDF6EF 0%, #52C368 100%);
}

.adress-list{
    display: flex;
    gap: 155px;
    margin-left: 155px;
    align-items: center;
}

.adress-list-item{
    display: flex;
    gap: 9px;
    align-items: center;
}

.adress-list-item-img{
    padding-top: 8px;
}

.adress-list-item-description{
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.adress-list-item-description.first{
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 74%;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    background: #FBFBFB;
    padding: 33px 155px 27px 25px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.20);
}

.footer-list-item{
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.footer-list-item.first{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.social-media{
    display: flex;
    margin-top: 20px;
    margin-bottom: 33px;
    gap: 10px;
}

.bank-cards{
    margin-top: 13px;
}

.rights{
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.rights-text{
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
